<!-- Footer -->
<section id="footer">
    <div class=" container-fluid">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">Shoppin Cart Item</a></u> </p>
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">ShoopinCart.com</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->