<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
            <h1 style="text-align:center">Register</h1>
            <div class="form-group input-group mb-3">
              <input type="text" name="FirstName" [(ngModel)]="model.FirstName" class="form-control sty1"
                placeholder="FirstName" required #firstName="ngModel">
            </div>
            <div class="form-group input-group mb-3">
              <input type="text" name="LastName" [(ngModel)]="model.LastName" class="form-control sty1"
                placeholder="LastName" required>
            </div>
            <div class="form-group input-group mb-3">
              <input type="text" name="City" [(ngModel)]="model.City" class="form-control sty1" placeholder="City"
                required>
            </div>
            <div class="form-group input-group mb-3">
              <input type="text" name="State" [(ngModel)]="model.State" class="form-control sty1" placeholder="State"
                required>
            </div>
            <div class="form-group input-group mb-3">
              <input type="text" name="Street" [(ngModel)]="model.Street" class="form-control sty1" placeholder="Street"
                required>
            </div>
            <div class="forms-group input-group mb-3">
              <input type="text" name="ZipCode" [(ngModel)]="model.ZipCode" class="form-control sty1"
                placeholder="ZipCode" required>
            </div>
            <div class="form-group input-group mb-3">
              <input type="text" name="UserName" [(ngModel)]="model.Email" class="form-control sty1" placeholder="Email"
                required>
            </div>
            <div class="form-group input-group mb-3">
              <input type="password" name="Passward" [(ngModel)]="model.Password" class="form-control"
                placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-block btn-success">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>